<div class="container">
    <h1 class="text-uppercase">Stacsnet</h1>
    <h3> @ViewBag.Subtitle </h3>
    @if (ViewBag.ErrMsg != null) {
        <h3>
            @ViewBag.ErrMsg
        </h3>
    }
</div>
<hr>