<!-- Footer -->
<hr>
    <div class="text-center center-block">
        <p class="txt-railway">- &copy; Noah Florin-Sefton 2018 -</p>
        <br />
            <a href="https://www.linkedin.com/in/057368162/"><i class="fa fa-linkedin-square fa-3x social"></i></a>
            <a href="https://github.com/NFS002/stacsnet"><i class="fa fa-github-square fa-3x social"></i></a>
    </div>
<hr>







