@{
    ViewBag.Title = "Home Page";
}
<div id="app">
    {{ message }}
    <todo-item></todo-item>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="@Url.Content("~/Components/todo-item.js")"></script>
<script>
    const v = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        }
    })
</script>