<div class="container">
    @{ await Html.RenderPartialAsync("_ErrorTitle"); }
    @if ( TempData.ContainsKey( "Err") ) {
        string error_type = TempData["Err"].ToString();
        if ( error_type.Equals( "Post") ) {
            await Html.RenderPartialAsync( "_PostErrorButton" );
        }
    }
    <div align='center' id='content'>
        <iframe src="https://giphy.com/embed/EPcvhM28ER9XW" width="480" height="333" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
    @{ await Html.RenderPartialAsync("_Footer"); }
</div>

