body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.social:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* Links to subdirectories */
a.subdir {
    padding: 5px;
    width: 80px;
    font-size: 20px;
}

/* Links to files */
a.filename {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

/* File upload information */
.file-info {
    margin-right: 10px;
    padding-bottom: 5px;
}
.file-info-box {
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Tag labels (not really buttons) */
.btn-tag, .btn-tag-comment {
    background-color: #eeeeee;
    color: #000;
    border-radius: 3px;
    border: 1px solid #000;
    display: inline;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    margin: 5px;
}


hr{
    border-top: 1px solid #000 !important;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.input-uname, .input-sm {
    width: 200px;
}

.header-box {
    float: right;
}

.header-box > select {
    display: inline-block;
    width: 80px;
}

.commentcount-box, .comment{
    margin-right: 20px;
    margin-left: 20px; 
    margin-bottom: 30px;
}

.head{
    margin-bottom: 10px;
}

.comment-uname {
    margin-right: 10px;
}

#date, .alert > .reply-btn {
    float:right;
}


#searchbox, #datebox {
    margin-top: 10px;
}

.header-box {
    margin-top: 18px;
}
div[data-valmsg-summary] {
    min-height: 80px;
    color: #900;
    font-weight:bold;
    padding-top:18px;
}
.canvas {
    height: 40pc;
}
.canvas svg {
    height: 100%;
    width: 99%;
}

.ui-tabs .ui-tabs-panel {
    padding: 0 !important;
}
.slider-box {
    margin: 10px;
    margin-bottom: 0px;
    min-height: 65px;
    min-width: 100%;
}
.chart-info {
    margin: 10px;
    margin-top: 0px;
    min-height: 100px;
    min-width: 100%;
    align-items: center;
    padding: 0pc 12pc;
}

.chart-info-title {
    font-size: 20px;
    font-weight: 900;
    text-align: left;
}

.chart-info-content {
    text-align: left;
    font-weight: 500;
}
.nodata {
    color: #911;
}

.flash {
    padding: 5px 10px;
    margin: 10px 0 0 0;
}

.flash .btn-flash {
    float: right;
}

.no-padding {
    padding: 0 !important;
}